@charset "UTF-8";

.page {
  width: 94%;
  overflow: auto;
  padding: 2% 3% 200px 3%;

  h1, h2 {
    color: #2475ee;
  }

  li {
    color: #606c71;
  }

  img {
    width: 60%;
    margin: 20px 0;
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: #325b80;
    border-left: 0.3rem solid #dce6f0;
  }

  a {
    color: #1b51a3;
    text-decoration: none;
    background-color: transparent;
  }

  a:hover {
    color: #2475ee;
  }

  pre {
    border: 2px solid #eeeeee;
    border-radius: 4px;
  }

  code {
    background-color: #f8f8f8;
  }

}
