@charset "UTF-8";

.adm-modal-content {
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: 0 !important
}

.page-homepage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0;

  .sidebar {
    display: flex;
    flex-direction: column;
    width: 25%;
    max-width: 250px;

    .adm-side-bar {
      z-index: 1;
      width: 100%;
      margin: 0;
    }

    .exhibit {
      z-index: 2;
      width: 100%;
      padding: 0;
      margin-top: -10px;
      border-radius: 0 10px 0 0;
    }

    .exhibit[src=""], .exhibit:not([src]) {
      display: none;
    }
  }

  .books {
    width: 75%;
    display: flex;
    flex-direction: column;

    .adm-tabs {
      width: 100%;
    }

    .actions {
      position: fixed;
      bottom: 5.6%;
      right: 2.5%;
      display: flex;
      flex-direction: column;

      .adm-button {
        width: 5vh;
        height: 5vh;
        padding: 0;
        opacity: 0.7;
        margin-bottom: 0.4vh;
      }

      .adm-button:hover {
        opacity: 1;
      }
    }

  }

  .cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.5s;
  }

  .cover.un {
    opacity: 0;
  }

  .cover.dis {
    display: none;
  }

  .audio {
    position: fixed;
    right: 3%;
    top: 6%;
    width: 3vh;
    height: 3vh;

    > svg {
      width: 100%;
      height: 100%;
      color: #8a8a8a;
    }
  }

}
