@charset "UTF-8";

.page-homepage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0;

  .sidebar {
    width: 25%;
    max-width: 160px;

    .adm-side-bar {
      width: 100%;
      margin: 0;
    }
  }

  .books {
    width: 75%;
    display: flex;
    flex-direction: column;

    .page {
      flex: 1;
      overflow: auto;
      padding: 2% 3% 200px 3%;
    }
  }

}
