@charset "UTF-8";

* {
  font-family: 'PingFang SC', 'Microsoft Yahei';
}

::-webkit-scrollbar {
  width: 0 !important
}

.page-homepage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0;

  .sidebar {
    width: 25%;
    max-width: 250px;

    .adm-side-bar {
      width: 100%;
      margin: 0;
    }
  }

  .books {
    width: 75%;
    display: flex;
    flex-direction: column;

    .adm-tabs {
      width: 100%;
    }
  }

}
